*{box-sizing: border-box;}

body{
  margin:0;
  padding:0;
}

$columns: 12!default;
$gutter: 20px!default;

$xs: 768px;
$small: 769px;
$medium: 992px;
$large: 1200px;

%col{
  float: left;
  position: relative;
  min-height:1px;
  padding:0 $gutter * 0.5;
  background-color: rgba(#000, 0.2);
  border: 1px solid rgba(#000, 0.5);
}

%clearfix{
  &:before,
  &:after{
    content: "";
    display:table;
  }
  &after{
    clear:both;
  }
  &{
    zoom:1;
  }
}

.row{
  margin:0 $gutter * -0.5;
  @extend %clearfix;
}

@for $i from 1 through $colums{
  .col-#{$i}{
    @extend %col;
    width:$i / $colums * 100%;
  }
  .col-push-#{$i}{
    left:$i / $columns * 100%;
  }
  .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}{@extend %col;}
}

@media only screen and (max-width: $xs){
  @for $i from 1 through $colums{
    .col-xs-#{$i}{
      width:$i / $colums * 100%;
    }
  }
}

@media only screen and (min-width: $small){
  @for $i from 1 through $colums{
    .col-sm-#{$i}{
      width:$i / $colums * 100%;
    }
  }
}

@media only screen and (min-width: $medium){
  .col-m-center{margin: 0 auto; float: none;}
  @for $i from 1 through $colums{
    .col-md-#{$i}{
      width:$i / $colums * 100%;
    }
  }
}

@media only screen and (min-width: $large){
  @for $i from 1 through $colums{
    .col-lg-#{$i}{
      width:$i / $colums * 100%;
    }
  }
}

