#footer
{
    text-align: center;
    border: 1px solid black;
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    margin-bottom: 10Opx;
    padding: 5px;
    background-color: rgb(237,224,213);
}

#header
{
    text-align: center;
    border: 1px solid black;
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    margin-bottom: 10Opx;
    padding: 5px;
    background-color: rgb(237,224,213);
}

ul#menu
{
    height: 30px ;
    margin: 50 ;
    padding: 0 ;
    background-color: #E1CE9A;
    list-style-type: none ;
}

ul#menu li
{
    float: left ;
    text-align: center ;
}

ul#menu li a
{
    width: 130px ;
    line-height: 25px ;
    font-size: 1.2em ;
    font-weight: bold ;
    letter-spacing: 2px ;
    color: #2D241E ;
    display: block ;
    text-decoration: none ;
    border-right: 2px solid #dea ;
}

ul#menu li a:hover
{
    background-color: #BEF574;
}



label {
    display:block;
    width:150px;
    float:left;
}

#menu_cadre li
{
    list-style-type: none ;
    float: left ;
    text-align: center ;
}

.cadre
{
    max-height: 100px;
    width: auto;
}


.min{
    background:#FFFFFF url(fondbloc.jpg) top left no-repeat;
    float:left;
    margin:0 1px 1px 0;
    padding:10px 10px 13px 10px;
    position:relative;
    height:112px;
    width:215px;
}
.min a{
    display:block;
    height:100%;
    position:relative;
    width:100%;
    overflow:hidden;
}
.min img{
    position:relative;
    width:100%;
}
.min:hover h3{
    background:#000 none repeat scroll 0 0;
    bottom:0;
    color:#FFF;
    font-family:Arial;
    font-size:9px;
    font-weight:normal;
    left:0;
    margin:0;
    width:205px;
    display:block;
    padding:5px;
    position:absolute;
    text-transform:uppercase;
}
.min:hover{
    background-position:bottom left;
}
.min h3{
    display:none;
}

.vote{
    width: 150px;
    margin: 50px 0;
    /*float: right;*/
    display: block;
}

.vote_bar{
    display: block;
    width: 100%;
    height: 4px;
    background-color: red;
    /*display: block;*/
}

.vote_progress{
    height: 4px;
    width: 0%;
    background-color: green;
}

.vote_btns{
    margin-top: 10px;
}

.vote_btn{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s;

}

.vote_like:hover{
    color: green;
}

.vote_dislike:hover{
    color: red;
}