/*RESET CSS*/
/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font-size: 100%;*/
    /*font: inherit;*/
    /*vertical-align: baseline;*/
/*}*/

#bienvenue
{
    text-align: center;
    /*margin-top: 10%;*/
}

#footer
{
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: rgb(237,224,213);
}


label {
    display:block;
    width:150px;
    float:left;
}

#scroll
{
    /*text-align: center;*/
    /*width: 600px;*/
    height: 250px;
    margin: 20px auto;
    background: #ECECEC;
    border: 2px solid #0277bd;
    overflow: auto;
    box-shadow: 0 0 10px #000;
    align-content: center;
}

#scroll ul {
    float: left;
    /*margin-right: -999em;*/
    white-space: nowrap;
    list-style: none;
    padding: 0;
}

#scroll li {
    margin: 15px;
    text-align: center;
    float: left;
    display: inline;
}

#scroll a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#scroll img {
    display: block;
    border: 1px solid #A3CBE0;
    max-width: 200px;
    height: auto;
}

#scroll img:hover {
    border: 3px solid #FFFFFF;
}


@media only screen and (min-width: 1200px) {
    #scroll{
        width: 600px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}


#menu_cadre {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background: #ECECEC;
    border: 2px solid #0277bd;
    overflow-y: scroll;
    box-shadow: 0 0 10px #000;
    align-content: center;
}

#menu_cadre li{
    float: left;
    list-style-type: none;
}

#menu_cadre ul {
    float: left;
    /*margin-right: -999em;*/
    white-space: nowrap;
    list-style: none;
    padding: 0;
}

#menu_cadre li {
    margin: 15px;
    text-align: center;
    float: left;
    display: inline;
}

#menu_cadre a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#menu_cadre img {
    display: block;
    border: 1px solid #A3CBE0;
    max-width: 150px;
    height: auto;
}

#menu_cadre img:hover {
    border: 3px solid #FFFFFF;
}


.cadre
{
    max-height: 110px;
    width: auto;
}

.min{
    background:#FFFFFF url(fondbloc.jpg) top left no-repeat;
    float:left;
    margin:0 1px 1px 0;
    padding:10px 10px 13px 10px;
    position:relative;
    height:112px;
    width:215px;
}
.min a{
    display:block;
    height:100%;
    position:relative;
    width:100%;
    overflow:hidden;
}
.min img{
    position:relative;
    width:100%;
}
.min:hover h3{
    background:#000 none repeat scroll 0 0;
    bottom:0;
    color:#FFF;
    font-family:Arial;
    font-size:9px;
    font-weight:normal;
    left:0;
    margin:0;
    width:205px;
    display:block;
    padding:5px;
    position:absolute;
    text-transform:uppercase;
}
.min:hover{
    background-position:bottom left;
}
.min h3{
    display:none;
}


form{
    display: inline-block;
}
.vote{
    width: 150px;
    margin: 50px 0;
    /*float: right;*/
    /*display: block;*/
}

.vote_bar{
    display: block;
    width: 100%;
    height: 4px;
    background-color: red;
    /*display: block;*/
}

.vote_progress{
    height: 4px;
    width: 0%;
    background-color: green;
}

.vote_btns{
    margin-top: 10px;
}

.vote_btn{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s;

}

.vote_like:hover, .is-liked .vote_like{
    color: green;
}

.vote_dislike:hover, .is-disliked .vote_dislike{
    color: red;
}